.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
    color: var(--main-color);
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-1);
    box-shadow: 0 0 0.3em var(--main-color);
}